# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.idea

# dependencies
node_modules/

#testing
/test/node_modules
/test/package-lock.json

# production
build/

#others
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.firebase/
/storage.rules
/package-lock.json
/firestore.rules
/firestore.indexes.json
/firebase-debug.log
/.firebaserc
/firestore-debug.log
/pubsub-debug.log
/ui-debug.log

functions/
